.DS_Store
__pycache__/
*.pyc

.venv/

data/raw/
data/interim/
!data/raw/boundaries/
!data/raw/boundaries/england_boundary_entity.json
!data/raw/boundaries/england_boundary.parquet
!data/raw/boundaries/england_boundary_analysis.parquet

outouts/top_candidates/*.geojson
